:root {
    --primary-text-color: #000;
    --accent-color: #7BAFDF;
    --body-color: #1E1E1E;
    --primary-color: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    background-color: var(--primary-color);
    max-width: 1280px;
    margin: auto;
}

body {
    background-color: var(--body-color); 
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*header*/

header {
    border-bottom: 1px solid #000;
}

.top-logo {
    padding: 20px 0;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    padding-left: px;
    gap: 25px;
    padding-top: 10px;
}

.percent {
    padding-right: 2px;
}


.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--primary-text-color);
}

.nav-links-blue {
    color: var(--accent-color);
    font-weight: 600;
}

/*hero-section*/

.hero{
    background-image: url(/images/iPhone.jpg);
    display: flex;
    padding: 200px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

.button {
    background: #E7E7E7;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #000000;
    align-items: center;
    display: flex;
    padding: 8px 85px 8px 85px;
}

.src-img {
    margin-right: 5px;
}